.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #14db2f;
    padding: 10px;
    height: 95vh;
    border-radius: 20px;
}

.grid-container>div, .grid-container>a>div {
    background-color: #fff;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    width: 15.25em;
    height: 46.5vh;
    border-radius: 15px;
}


.grid-container>a>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9effac;
}

#panel5 {
    background-color: #9effac;
}

.grid-container>a>div:hover {
    background-color: rgb(209, 253, 200);
}

a {
    text-decoration: none;
    color: black;
}

.item1 {
    grid-area: parte1;
}

.item2 {
    grid-area: parte2;
}

.item3 {
    grid-area: parte3;
}

.item4 {
    grid-area: parte4;
}

.item5 {
    grid-area: parte5;
}

.grid-container2 {
    display: grid;
    grid-template-areas: 'parte1 parte1' 'parte2 parte3' 'parte4 parte5';
    grid-gap: 10px;
    padding: 10px;
    border-radius: 15px;
}

.grid-container2>div, .grid-container2>a>div {
    display: flex;
    padding: 20px 0;
    font-size: 30px;
    border-radius: 15px;
    height: 42px;
    justify-content: center;
    align-items: center;
}

.grid-container2>a>div {
    width: 100%;
    height: 10vh;
    background-color: #fff;
}

.grid-container2>a>div:hover {
    background-color: rgb(209, 253, 200);
}
