.monetaria {
    display: block;
    margin: auto;
    padding: 20px;
    background-color: #14db2f;
    width: 400px;
    height: 586px;
    border-radius: 20px;
}

.monetaria td button {
    display: block;
    width: 114px;
    height: 76px;
    border-radius: 10px;
    border: 1px solid black;
}

.monetaria td button:focus {
    background-color: #83ff94;
    outline: none;
}

#borrar {
    background-color: orangered;
    width: 233px;
}

#result {
    display: block;
    font-size: 35px;
    margin-bottom: 20px;
    width: 350px;
    height: 120px;
    background-color: #fff;
    border-radius: 14px;
    overflow-y: auto;
    text-align: right;
    line-height: 110px;
    padding-right: 5px;
}

body {
    display: grid;
    grid-template-columns: 500px auto;
}

.opcionesMone {
    display: grid;
    margin-right: 50px;
    padding: 20px;
    background-color: #14db2f;
    width: 765px;
    height: 547px;
    border-radius: 20px;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.opcionesMone>button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    height: auto;
}

.opcionesMone>button:hover {
    background-color: #f4fff0;
}

.opcionesMone>button:focus {
    background-color: #83ff94;
    outline: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 80px auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.vertical-menu {
    width: 50px;
}

.vertical-menu a {
    color: black;
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 55px;
    height: 562px;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.atras {
    background-color: #14db2f;
    border-radius: 20px;
    height: 597px;
}

.atras:hover, #a-c > td > button, #d-f > td > button {
    background-color: #83ff94;
}