.calculadora {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #14db2f;
    width: 400px;
    height: 600px;
    border-radius: 20px;
}

.calculadora td button {
    display: block;
    width: 85px;
    height: 55px;
    font-size: 20px;
    box-align: center;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

#igual {
    height: 94px;
    width: 85px;
}

#cero {
    height: 35px;
    width: 174px;
}

#cerocero {
    height: 35px;
}

#result {
    display: block;
    font-size: 35px;
    margin-bottom: 30px;
    width: 350px;
    height: 120px;
    line-height: 110px;
    background-color: #fff;
    border-radius: 15px;
    overflow-y: auto;
    text-align: right;
    padding-right: 5px;
}

#borrar {
    background-color: orangered;
}

.grid-container {
    display: grid;
    grid-template-columns: 90px auto;
    grid-gap: 10px;
    padding: 10px;
    border-radius: 20px;
}

.grid-container>div {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    height: 587px;
}

#calculadora {
    background-color: #fff;
}

#atras {
    display: flex;
    background-color: #14db2f;
    height: 589px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#atras:hover {
    background-color: #83ff94;
}

h1 {
    margin-bottom: 0px;
}